<html>
  <head> </head>
  <body>
      <div class="login">
        <form method="POST" action="/login" >
          <input name="family-id" type="hidden" value="{{family_id}}"></input>
          <div class="namewidget">
            <label for="display-name">Who are you?</label>
            <input id="display-name" name="display-name" type="text"></input>
          </div>
          <br>
         <input id="login" type="Submit" value="Login">
        </form>
      </div>
          
  <script src="static/login.js"></script>
  </body>
</html>
